<div class="row container card px-4 pt-3 px-lg-5 pt-lg-5 my-3">
  <p class="my-2">
    <strong class="mr-2">Question:</strong>
    <%= question.question %>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">Marks:</strong>
    <%= question.marks %>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">Model answer</strong>
    <%= question.model_answer %>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">Maximum Length:</strong>
    <%= question.max_length %>
  </p>

  <p class="my-2">
    <strong class="mr-2">Minimum Length:</strong>
    <%= question.min_length %>
  </p>

  <p class="ml-auto p-0">
    <%=link_to "Edit", "/exams/#{@exam.id}/questions/#{question.id}/edit", class: "btn btn-secondary my-2" %>
    <%=link_to "Delete", "/exams/#{@exam.id}/questions/#{question.id}", method: :delete, class: "btn btn-danger my-2" %>
  </p>
</div>
