<h1 class="text-center">My Exams</h1>

<div class="exam-container container row p-5 mx-auto text-center my-2 d-flex flex-nowrap align-items-center my-auto">
    <% if @exams && @exams.count == 0%>
      <div class="col-12 col-lg-8 mx-auto container"> 
        <%if current_user.role == "student"%>
          <h3 class="text-center text-primary font"> You haven't attended any exams</h3>
        <%else%>
          <h3 class="text-center text-primary font"> You haven't created any exams</h3>
        <%end%>   
      </div>
    <% end %>

    <% @exams.each do |exam| %>
      <div class="exam-card card col-12 col-lg-4 mx-auto">
        <%= image_tag "exam-illustration.jpeg" ,class:"card-img-top" %>
        <div class="card-body">
          <h3 class="card-title text-primary font"><%= exam.subject %></h3>
          <h6 class="card-text font"><%= exam.exam_code %></h6>
          <hr/>
          <div class="row p-1">
            <%= link_to("View", "/exams/#{exam.id}", class: "btn btn-success icon mr-auto col-4") %>
            <%= link_to(image_tag("https://img.icons8.com/ios-glyphs/30/000000/test-results.png"), "/teacher/exams/#{exam.id}/results", class: "btn btn-sm btn-warning icon ml-auto col-2", title: "Results") %>
            <%= link_to(image_tag("https://img.icons8.com/ios-glyphs/30/ffffff/filled-trash.png"), "/exams/#{exam.id}", method: :delete, class: "btn btn-sm btn-danger icon col-2 mx-2", title: "Delete") %>
          </div>
        </div>
      </div>
    <% end %>
</div>

