<div class="row container card px-4 pt-3 px-lg-5 pt-lg-5 py-3 my-3">

  <h1 class="text-primary mb-5 mt-3"><%= @exam.subject.titleize %> Examination</h1>

  <p class="my-2">
    <strong class="mr-2">Instructions:</strong>
    <ol>
      <% @exam.instructions.split(",").each do |instruction| %>
        <li> <%= instruction %> </li>
      <% end %>
    </ol>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">Pass mark:</strong>
    <%= @exam.pass_mark %>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">Total marks:</strong>
    <%= @exam.total_marks %>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">Start time:</strong>
    <%= @exam.start_time %>
  </p>
  
  <p class="my-2">
    <strong class="mr-2">End time:</strong>
    <%= @exam.end_time %>
  </p>
 
  <p class="my-2 mx-auto">
    <%=link_to "Start Test", "answersheet", class: "btn btn-lg btn-success my-2" %>
  </p>
</div>


